<!-- views/articles/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles | <%= articles.title %></title>
</head>
<body>

    <!-- meminta data "articles" bagian title, dan body -->
    <div>
        <h1><%= articles.title %></h1>
        <p><%= articles.body %></p>
    </div>
</body>
</html>