<html>
  <head>
    <Title>
      User | Update
    </Title>
  </head>

  <body>
    <form method="POST" action="/users/update/<%= users.id %>">
      <label for="username">
        Username
      </label>
      <br>
      <input type="text" name="username" value="<%= users.username %>">
      <br>

      <label for="password">
        Password
      </label>
      <br>
      <input type="text" name="password" value="<%= users.password %>">
      <br>

      <button type="submit">
        Submit
      </button>
    </form>
  </body>
</html>